.BackGround {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/Images/backgroundLogin.jpg");
  background-repeat: no-repeat;
  background-Position: 'center';
  background-size: cover;
}

@font-face {
  font-family: "Font of Tolkien";
  src: url("../../assets/Fonts/tolkien.ttf");
}

.Titulo {
  color: #FFFFFF;
  font-family: "Font of Tolkien";
  font-size: 60px;
  text-align: center;
  padding-top: 15px;
}

.container {
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-top: 25vh;
}

.Form {
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-right: 16px;
  display: grid;
  grid-row: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.FieldText {
  color: #FFFFFF !important;
  font-weight: bold !important;
  font-size: 20px !important;
  font-family: "Font of Tolkien" !important;
}

#standard-full-width {
  font-family: "Font of Tolkien";
  margin-top: 20px;
  font-size: 25px;
  color: #FFFFFF;
}

.botaoLogin {
  font-family: "Font of Tolkien" !important;
  color: #000000 !important;
  font-weight: bold !important;
  border-radius: 20px !important;
  background-color: #fab95f !important;
}

.botao {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}