.containerTeste {
  background-image: url("../assets/Images/mapaTeste.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  bottom: 0;
  color: black;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  background-size: cover;
  font-family: "Font of Tolkien";
  font-weight: bold;
  display: grid;
  grid-template-columns: auto auto;
}

.aqui {
  margin-left: 17vh;
  margin-top: 20vh;
  color: cyan;
  height: 100px;
  width: 50px;
}

.aqui2 {
  margin-left: 17vh;
  margin-top: 1vh;
  color: cyan;
  height: 100px;
  width: 50px;
  background-color: cyan;
}