@font-face {
  font-family: "Font of Tolkien";
  src: url('./assets/Fonts/tolkien.ttf');
}

body {
  margin: 0;
  font-family: "Font of Tolkien";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}